{%extends 'base.html'%}
{% block body%}
{%import "bootstrap_wtf.html" as wtf%}
<div class  = 'container mt-3'>
    <h2>This is the holiday page</h2>
</div>

<div class  = 'container mt-3'>
    <h2>Please select your choices for the holiday below!</h2>
    <form method = "POST" action = "" novalidate>
        {{form.hidden_tag()}}
        {{ wtf.form_field(form.holiday_start_date, False) }}
        {{ wtf.form_field(form.holiday_end_date, False) }}
        {{ wtf.form_field(form.holiday_type, False) }}

    </form>
</div>
{%endblock%}