{%extends 'base.html'%}
{% block body%}
{% import "bootstrap_wtf.html" as wtf%}
<div class  = 'container mt-3'>
    <h2>Upload a side-on video of your lift</h2>
    <form method = "POST" action = "" novalidate enctype = "multipart/form-data">
        {{form.csrf_token()}}
        {{wtf.form_field(form.video, False)}}
        {{wtf.form_field(form.submit, False)}}
    </form>

    {%if vid_exists%}
<!--    <img src={{url_for("uploaded_file", filename =filename)}} alt="image">-->


    <video width="320" height="240" controls autoplay>
      <source src={{url_for('uploaded_file', filename =filename)}} type="video/mp4">
    </video>
    {%endif%}



</div>

{%endblock%}